body,html{
    margin: 0 !important;
    text-align: justify;
    font-family: 'Outfit', sans-serif;
}

.navbar{
    background-color: transparent;
    font-size: 500;
    font-family: 'Outfit', sans-serif;

}
#about{
    height: 100vh;
    /* background-image:url(/asset/bg/Shiny.svg); */
    background-color: #4B6587;
    background-size: cover;
    background-clip: border-box;
}
#visi{
    height: 100vh;
    background-image:url(/asset/bg/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg);
    /* background-color: #1C3879; */

    background-size: cover;
    background-position: center;
    /* background-clip: content-box; */
    background-repeat: no-repeat;
}
#news{
    height: 100vh;
    background-color:whitesmoke;
    
}
#kontak{
    background-color: #112031;
    height: 40vh;
}
#profil{
    display: flex;
    height: 85vh;
    margin-top: 15%;
    padding: 2rem 1rem;
    font-size: small;
    color: whitesmoke;
    border-radius: 40px;
    /* box-sizing: border-box; */
    /* background-color: black; */
    /* background-image: url(/asset/bg/undraw_coffee_with_friends.svg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
    
    /* background-clip: border-box; */
}
#profile{
    background-image: url(/asset/bg/undraw_coffee_with_friends.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    
    /* margin-bottom: 10%; */
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
h5{
    margin-top: 20px;
}
#perkenalan{
    margin-bottom: -50%;
    text-align: center; 
}
.motivasi{
    margin: 5%;
    padding: 2rem 1rem;
}
#motivasi{
    /* color: white; */
    /* background-color: white; */
    background-color:transparent;
    color: white;
    border-radius: 25px;
}
#skillcard{
    margin-top: 2.5%;
    /* background-color: rgba(4, 35, 54, 0.401); */
    color: black;
    padding: 2rem 1rem;
    border-radius: 25px;
}
.col-md-2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    text-align: center;
    margin-top: 5%;
    border-radius: 25px;
    /* background-color: rgba(4, 35, 54, 0.401); */
    color: white;
}
section{
    padding-top: 1.2rem;
}
.card-img-top{
    max-width: auto;
    height: 300px;
    border-radius: 25px;
}
#porto{
    /* background-color: #EAE3D2; */
    border-radius: 25px;
    margin-top: 2%;
    padding: 2rem 1rem;
}

#contact{
    height: 40hv;
    margin-top: -5%;
    border-radius: 25px;
    padding: 2rem 1rem;
    color: white;
    /* background-color: black; */
}

@media screen and (min-width: 800px) {
    #profil{
        height: 75vh;
        display: flex;
        margin-top: 7%;
        padding: 2rem 1rem;
        color: whitesmoke;
        font-size:large;
        box-sizing: border-box;
        border-radius: 40px;
    }
    #perkenalan{
        margin: 5%;
        text-align: center; 
    }
    #profile{
        background-image: url(/asset/bg/undraw_coffee_with_friends.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 5%;
    }
  }